# Use postgres/example user/password credentials

services:

  web:
    build: .
    ports:
      - 3000:3000
    environment:
      DATABASE_URL: "postgresql://pg:pgpass@trackable-pg-db-1:5432/trackable"
      NEXTAUTH_URL: "http://localhost:3000"
      NEXTAUTH_SECRET: ""
      GOOGLE_CLIENT_ID: ""
      GOOGLE_CLIENT_SECRET: ""

  db:
    image: postgres:18
    restart: always
    ports:
      - 5433:5432
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: pgpass
      POSTGRES_USER: pg
      POSTGRES_DB: trackable
    volumes:
      - datavol:/var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  datavol:


