/* .col-md-4,
.col-md-3,
.col-md-5 {
  border: 1px solid red;
} */

.avatar {
  border-radius: 100%;
}

body {
  padding-bottom: 10rem;
}

.brico {
  font-family: "Bricolage Grotesque";
}

.container {
  padding-bottom: 1rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.nav-li {
  width: 55.675px;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.7rem; */
  font-size: 23.676px;
  border-radius: 50%;
  box-shadow:
    3px 1px 0 2px #bbb,
    0 -1px 0 2px #bbb;
}

.nav-li + .nav-li {
  margin-inline-start: 1rem;
}

.outfit {
  font-family: "Outfit";
}

.shadow-primary {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow-secondary {
  box-shadow:
    3px 1px 0 2px #333,
    0 -1px 0 2px #333;
}
